body {
	font-family: 'Mostery';
	background-color: #fff;
}

p {
	font-size:14px;
	color:#666;
	font-weight:bolder;
	line-height:25px;
	font-family: 'open_sansregular';
}
h2 {
	color:#555;
	font-size:35px;
	text-transform:uppercase;
	font-weight:bolder;
}
h3 {
	color:#333;
	font-size:23px;
}
h4 {
	color:#555;
	font-size:21px;
	text-transform:uppercase;
}
h5 {
	color:#333;
	font-size:18px;
}
.heading p {
	padding:20px 0px;
	font-size:14px;
	font-weight:bolder;
	color:#555;
}
#valores {
	text-align:center;
	padding:2% 0%;
	background-color: #f5f5f5;
}
.cardn {
	display: grid;
	
	grid-template-columns: 100%;
	grid-template-rows: 13vw 15.5vw;
	grid-template-areas: "image" "text" ;
  
	border-radius: 18px;
	background: white;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
	font-family: roboto;
	text-align: center;
	transform-style: preserve-3d;
	perspective: 1000px;
	overflow: hidden;
  }
.cardn-text p {
	padding-left: 1vw;
	padding-right: 1vw;
	color: #000;

}
.vermas{
    color:white
}

#convergentes .nav-tabs > li.active > a, #features .nav-tabs > li.active > a:hover, #features .nav-tabs > li.active > a:focus {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .26);
	border-bottom:2px solid #8EC5DA;
	background:#f8f8f8;
}
#convergentes .nav-tabs > li > a {
	color:#555;
	margin-right:0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .26);
	background-color: #fff;
	border-right: 1px solid #e0e0e0;
	border-radius:0px;
	border-bottom:1px solid #FFFFFF;
	width: 110px;
	padding: 0;
	height: 80px;
	line-height: 80px;
	font-size: 32px;
}
#convergentes .nav-tabs > li > a:hover {
	border-color:transparent;
	border-right: 1px solid #e0e0e0;
}
#clientes {
	padding: 1% 0%;
	background: #f5f5f5;
	text-align:center;
}

.contact-sec-1 ul.contact-form li i.fa {
	color:#666;
	float:left;
	margin-right:10px;
}
.contact-sec-1 ul.contact-form li h6 {
	font-size:14px;
	color:#666;
	margin:0;
}
.contact-sec-1 ul li a {
	color:#666;
}
#footer-down h2 {
	color:#444;
	margin:20px 0px 40px 0px;
	text-transform:none;
}
#footer-down ul li a i.fa {
	color:#999;
	font-size:22px;
	border:2px solid #999;
	height:50px;
	width:50px;
	border-radius:50px;
	padding:25%;
}